# Never persist credentials, password-manager state, key containers, or shell history.
*.kdb
*.kdbx
*.keyx
**/.config/keepassxc/
**/.cache/keepassxc/
**/keepassxc.ini
**/KeePass.config.xml
**/.mono/keypairs/
**/.zsh_history
**/.bash_history
